<article class="ml1">
	{{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
		{{ $mainSections := .Site.Params.mainSections | default (slice "articles") }}

		{{/* Create a variable with that section to use in multiple places. */}}
		{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

		{{/* Check to see if the section is defined for ranging through it */}}
		{{ $section_count := len $section }}

		{{ if ge $section_count 1 }}

		{{/* Derive the section name  */}}
		{{ $section_name := index (.Site.Params.mainSections) 0 }}

		{{ if $section }}
	<div>
		
	  	{{ if eq .Title "Tags" }}
	  		{{ range $section }}
		  		<div class="flex-ns db mv3 mh1-ns">
					<span class="w5 gray date">{{ dateFormat $.Site.Params.config.dateLayout .Date.Local }}</span>
					

					<div class="w-60-ns">
						{{- with .Params.tags -}}      
				          {{- range  . -}}
				            <span class="no-underline"><a class="link dim gray f5 mr2" href="/tags/{{ . | urlize }}">{{ . }}</a></span>

				          {{- end -}}
				        {{- end -}}
				        <br>
			  			<a href="{{ .Permalink }}" class="link dim black b f4">{{ .Title }}</a>

					</div>
				</div>
			{{ end }}

	  	{{ else }}
	  	
	  	{{ range first 5 $section }}
	  	
	  		<div class="flex-ns db mv3 mh1-ns">
				<span class="w5 gray date">{{ dateFormat $.Site.Params.config.dateLayout .Date.Local }}</span>
				

				<div class="w-60-ns">
					{{- with .Params.tags -}}      
			          {{- range  . -}}
			            <span class="no-underline"><a class="link dim gray f5 mr2" href="/tags/{{ . | urlize }}">{{ . }}</a></span>

			          {{- end -}}
			        {{- end -}}
			        <br>
		  			<a href="{{ .Permalink }}" class="link dim black b f4">{{ .Title }}</a>

				</div>
			</div>
	  	{{ end }}
	  	{{ end }}
	</div>
	{{ end }}
{{ end }}
</article>
