{{ with .Site.Params.copyright.holder }}
    <footer class="ml5-l">
        <hr />
        <small class=""><p class="cf black b mh5 mv3">&copy; {{ now.Format "2006" }} {{ . | markdownify | safeHTML }}</p></small>
    </footer>
{{ end }}
