<header class="cf ph3 ph6-l pv3 site-header" role="banner">
    <strong><a class="black b dim link" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></strong>
    {{ with .Site.Params.info.tagline }}
        <p>{{ . }}</p>
    {{ end }}

</header>
