<nav id="primary-nav" class="row" role="navigation">
  {{ if .Site.Menus.main }}
    <ul class="menu ml5-l">
      {{ range .Site.Menus.main }}
        <li class=""><a class="link dim black b ma2" href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr />
  {{- end -}}
</nav>
