/* FONT STYLES */
h1,h2,h3,h4,h5,h6{
  font-family: 'IBM Plex Sans', sans-serif;
}

body, .date{
  font-family: 'Source Sans Pro', sans-serif;
}

/*LAYOUT*/

p code:not([class]){
  color: #a6e22e;
  padding: .5%;
  background-color: #272822;  
}
pre:not([class]){
   background-color: #272822;
   padding: 3%;
}
pre:not([class]) code:not([class]){
  color: #a6e22e;
  line-height: 1.5;
  word-wrap:none;
  hyphens: none;
}


/*END*/







/* PRIMARY NAV */
#primary-nav {
  display: flex;
  justify-content: flex-end;
}

.menu{
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
}

#primary-nav .menu li:hover {
  background: transparent;
}

#primary-nav .menu li a {
  padding: 18px 22px;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 300;
  text-decoration: none;
}

#primary-nav .menu li a:hover {
  background-color: transparent;
}


/*TAGS*/
 .tags .icon{
    height: 1em;
    width: 1em;
    fill:#333;
  }
/*END*/


.highlight pre{
  padding: 3%;
  white-space: normal;
  line-height: 1.5;
  word-wrap:none;
  hyphens: none;

}

.date{
  font-weight: 700;
  font-size: 1.1em;
}

#tag-cloud{
  margin-bottom: 30px !important; 
}
