{{ define "main" }}
<main class="flex-l cf ph3 ph6-l pv5">
	<div class="fn fl-ns w-100-m w-30-l pl3 pl0-l">
		{{- if eq .Title "Tags" -}}
			<h1 class="mb3 mt0 lh-title ttc">Topics</h1>

		{{- else -}}
			<h1 class="mb3 mt0 lh-title ttc">{{ .Title }}</h1>
		{{ end }}
		<hr class="ml0 mw4 bb bw1 b--black-10">
	</div>

	<div class="lh-copy f5 f4-ns fl-ns mw-100-m w-70-l pr2-ns pl3 pl0-l">
		
		 <section class="f4">
		    {{- .Content -}}

		  {{- if eq .Title "Tags" -}}
			{{ block "site/articles" . }}{{ partial "site/articles" . }}{{ end }}		
		  {{- else -}}
		  	{{ range .Pages }}
		  		<div class="flex-ns db mv3 mh1-ns">
		  			{{- if and (.Date) (.Params.authors)  -}}
	  				<span class="w5 gray date">{{ dateFormat $.Site.Params.config.dateLayout .Date.Local }}</span>{{- end -}}<br><br>
		  			<div class="w-60-ns">
						{{ with .Params.tags }}      
				          {{- range  . -}}
				            <span class="no-underline"><a class="link dim gray f5 mr2" href="/tags/{{ . | urlize }}">{{ . }}</a></span>

				          {{- end -}}
				          <br>
				        {{ end }}
				        
			  			<a href="{{ .Permalink }}" class="link dim black b f4">{{ .Title }}</a>

					</div>
		  		</div>

		  	{{ end }}
		  {{ end }}
		 </section>

	</div>
</main>
{{ end }}
