{{ define "main" }}
  <article class="cf ph3 ph6-l pv5">
    <header class="fn fl-ns w-100-m w-30-l pr4-l  pl3 pl0-l">
      <h1 class="mb3 mt0 ttc lh-title">{{ .Params.title }}</h1>
      <hr class="ml0 mw4 bb bw1 b--black-10">
      {{ if .Params.authors }}
        {{ range .Params.authors }}
         <p class="f5 ttu tracked gray"> {{ . }}</p>
        {{ end }}
      {{ end }}
      <p class="f4 gray">{{ dateFormat $.Site.Params.config.dateLayout .Date.Local }}</p>
      {{ with .Params.categories }} <span>{{ . }}</span> {{ end }}
      {{ if gt .ReadingTime 1 }}
        <p>⏱ {{ .ReadingTime }} minute read</p>
      {{ end }}

      {{- with .Params.series -}}
        <div class="tags">
          <span>
            <svg class="icon" x="0px" y="0px" viewBox="0 0 50 50" xml:space="preserve">
            <g id="Layer_1_1_">
              <path d="M11,7H5v42h34v-6h6V1H11V7z M37,47H7V9h4h19v7h7v27V47z M32,10.414L35.586,14H32V10.414z M13,3h30v38h-4V14.586L31.414,7
                H13V3z"/>
              <path d="M22,14H10v12h12V14z M20,24h-8v-8h8V24z"/>
              <rect x="25" y="19" width="9" height="2"/>
              <rect x="25" y="24" width="9" height="2"/>
              <rect x="10" y="29" width="15" height="2"/>
              <rect x="28" y="29" width="6" height="2"/>
              <rect x="10" y="34" width="6" height="2"/>
              <rect x="19" y="34" width="15" height="2"/>
              <rect x="10" y="39" width="14" height="2"/>
              <rect x="27" y="39" width="7" height="2"/>
            </g>
            </svg>
          </span>
          {{- range  ($.Page.GetTerms "series") -}}
            <p class="mh1 dib silver no-underline"><a class="link dim black b ma2" href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
          {{- end -}}
        </div>
      {{- end -}}

      {{- with .Params.tags -}}
        <div class="tags">
          <span><svg class="icon" viewbox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true"><path d="M20.59 13.41l-7.17 7.17a2 2 0 01-2.83.0L2 12V2H12l8.59 8.59A2 2 0 0120.59 13.41z"/><line x1="7" y1="7" x2="7" y2="7"/></svg></span>          
          {{- range  ($.Page.GetTerms "tags") -}}
            <p class="dib silver no-underline"><a class="link dim black b ma2" href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
          {{- end -}}
        </div>
      {{- end -}}
    </header>



    <!-- BODY -->
    <div class="lh-copy f5 f4-ns fl-ns mw-100-m w-70-l pr2-ns  pl3 pl0-l">     
        {{- with .Params.description -}} <p class="mt0">{{ . }}</p> {{- end -}}

        <p class="mt0">{{- .Content -}}</p>
      

    </div>
  </article>
{{ end }}
