{{ define "main" }}
<main class="flex-l cf ph3 ph6-l pv5">

	<div class="fn fl-ns w-100-m w-30-l pl3 pl0-l pb4">
		<h1 class="mb3 mt0 lh-title ttc">{{ .Title }}</h1>

		<hr class="ml0 mw4 bb bw1 b--black-10">

		<h2>Topics:</h2>
			{{ block "site/tag-cloud" . }}{{ partial "site/tag-cloud" . }}{{ end }}
	</div>

	  <div class="lh-copy f5 f4-ns fl-ns mw-100-m w-70-l pr2-ns pl3 pl0-l">
	  	
	
		<article class="f4">
			{{ .Content }}
		</article>
		<h2 class=" mt3 mt5-ns f3">Recent Articles</h2>
	  	<hr class="ml0 mw4 bb bw1 b--black-10">
		{{ block "site/articles" . }}{{ partial "site/articles" . }}{{ end }}		
	
			  		  	
	</div>
</main>

{{ end }}

